.vs
.idea
obj
bin
packages
.user
.suo
.env
.DS_Store
node_modules
lib/*
*.user
.src/Project/Integration/code/sitecore-react-app/build

/src/Project/Integration/code/sitecore-react-app/build/static/js
/src/Project/Integration/code/sitecore-react-app/build
